.intro-text {
    padding: 3rem 0;
    margin-bottom: 90px;
    background-color: var(--dark);
}

.intro-text p {
    font-size: 1.1rem;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}