.test-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.test-section {
  padding: 2rem 0 4rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}